.quote{
  display: inline;
  text-align: center;
  font-family: 'Alumni Sans Inline One', cursive;
  font-size: 4.5rem;
  position: absolute;
  padding-left: 7%;
  padding-top: 7%;
  }
  .nav-button{
    border-radius: 20px;
    margin-left: 30px !important;
  }
  .nav-button:hover{
    background-color: aliceblue;
    color: black !important;
  }
  .header{
    background-color: gainsboro;
  }
  
  .carousel-container{
    width: 500px;
    display: inline-block;
  }